*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
:root
{
    --bg-color:#071422;
    --second-bg-color: #323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
}
body
{
    background: url(assets/img/fondo.png);
    color: var(--text-color);
}
section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: url(assets/img/fondo.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.navbar a
{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s;
    opacity: 0;
    animation:slideLeft .5s ease forwards;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width: 30vw;
    margin-left: 35px;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
span
{
    color: var(--main-color);
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 1.6rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .9s ease;
    animation: slideTop 1s ease forwards;
    
}
.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: url(assets/img/fondo.png);
}
.about-img img{
    width: 25vw;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.hola{
    background: url(assets/img/fondo.png);
}
.headingg{
    text-align: center;
    font-size: 4.5rem;
    background: url(assets/img/fondo.png);
}
.heading1{
    text-align:center;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.habilidades{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.icon {
    font-size: 24px;
    border-radius: 50%;
}
.iconn{
    font-size: 18px;
    border-radius: 80%;
}
.icon.bxl-html5 {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}
.icon.bxl-html5:hover {
    color: #c95d2e;  
    background-color: #efc691;  
    box-shadow: 0 0 15px rgba(219, 94, 40, 0.9); 
}
.icon.bxl-css3 {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}
.icon.bxl-css3:hover {
    color: #147bbc;  
    background-color: #79b5f2;  
    box-shadow: 0 0 15px rgba(51, 80, 199, 0.9);  
}
.icon.bxl-javascript {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}
.icon.bxl-javascript:hover {
    color: #b0bc1e; 
    background-color: #ecf279;  
    box-shadow: 0 0 15px rgba(243, 245, 78, 0.9);
}
.icon.bxl-php {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}
.icon.bxl-php:hover {
    color: #7014bc; 
    background-color: #8d3cd9;  
    box-shadow: 0 0 15px rgba(156, 74, 233, 0.9);
}
.icon.bxl-python {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}
.icon.bxl-python:hover {
    color: #c32ec9; 
    background-color: #f675e5;  
    box-shadow: 0 0 15px rgba(240, 114, 208, 0.9);
}
.icon.fi-brands-mysql {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
    padding: 5px;
}
.icon.fi-brands-mysql:hover {
    color: #147bbc; 
    background-color: #7e80f5;  
    box-shadow: 0 0 15px rgba(127, 116, 228, 0.9);
}
.icon.bxl-visual-studio {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}
.icon.bxl-visual-studio:hover {
    color: #7914cb; 
    background-color: #c25af2;  
    box-shadow: 0 0 15px rgba(166, 72, 197, 0.9);
}
.icon.bxl-git {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}
.icon.bxl-git:hover {
    color: #c95d2e;  
    background-color: #efc691;  
    box-shadow: 0 0 15px rgba(219, 94, 40, 0.9); 
}
.icon.bxl-aws {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}
.icon.bxl-aws:hover {
    color: #c95d2e;  
    background-color: #efc691;  
    box-shadow: 0 0 15px rgba(219, 94, 40, 0.9); 
}
.icon.bxl-react {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}
.icon.bxl-react:hover {
    color: #2eb7c9;  
    background-color: #9df5f9;  
    box-shadow: 0 0 15px rgba(56, 243, 243, 0.9); 
}
.iconn.fi-brands-wordpress {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
    padding: 3px;
}
.iconn.fi-brands-wordpress:hover {
    color: #299baa; 
    background-color: #8fbff2;  
    box-shadow: 0 0 15px rgba(118, 169, 236, 0.9);
}
.habilidad-name{
    font-size: 16px;
    font-weight: 600;
    color: #0ef;
    text-transform: uppercase;
    margin: 20px 0;
}
.container {
    display: flex;
    justify-content: space-between;
}

.skills-column {
    width: 48%;
}
.habilidad-bar{
    width: 400px;
    height: 5px;
    background: #282828;
    border-radius: 2px;
}
.habilidad-per{
    height: 5px;
    background: #0ef;
    border-radius: 3px;
    position: relative;
    animation: fillbar 2.5s 1;
}
.habilidad-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #262323;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.habilidad-per::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #262323;
    top: -18px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}
@keyframes fillbar {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}